/* footer */

footer {
    background-color: $color-negro;
    color: $color-blanco;
    text-align: center;
    padding: 30px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .redes a {
    text-decoration: none;
    color: $color-blanco;
    letter-spacing: 10px;
    font-size: 20px;
  }
  